[submodule "icebird/modules/SOIL"]
	path = icebird/modules/SOIL
	url = https://github.com/kbranigan/Simple-OpenGL-Image-Library.git
[submodule "icebird/modules/glfw"]
	path = icebird/modules/glfw
	url = https://github.com/glfw/glfw.git
[submodule "icebird/modules/glm"]
	path = icebird/modules/glm
	url = https://github.com/g-truc/glm.git
