[submodule "Grafit/modules/glfw"]
	path = Grafit/modules/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Grafit/modules/glm"]
	path = Grafit/modules/glm
	url = https://github.com/g-truc/glm.git
[submodule "Grafit/modules/stb"]
	path = Grafit/modules/stb
	url = https://github.com/nothings/stb.git
[submodule "Grafit/modules/physfs"]
	path = Grafit/modules/physfs
	url = https://github.com/criptych/physfs.git
